APP_PROFILE=dev

AGENT_DB_NAME=agentdb
AGENT_DB_USER=agentuser
AGENT_DB_PASSWORD=change-me-agent-password

DEPLOYMENT_DB_NAME=deploymentdb
DEPLOYMENT_DB_USER=deploymentuser
DEPLOYMENT_DB_PASSWORD=change-me-deployment-password

CUSTOMER_DB_NAME=customerdb
CUSTOMER_DB_USER=customeruser
CUSTOMER_DB_PASSWORD=change-me-customer-password

POSTGRES_PASSWORD=change-me-postgres-password

MONGO_DB_NAME=mongodb
MONGO_ROOT_USER=mongouser
MONGO_ROOT_PASSWORD=change-me-mongo-password

AUTH_DB_NAME=authdb
AUTH_DB_USER=authuser
AUTH_DB_PASSWORD=change-me-auth-password

GOOGLE_API_KEY=<CHANGEME>
